@charset "UTF-8";

.freeDeliveryMsg {
	color: #ff0000;
	font-size: 18px;
	
} 

img{
	width:200px;
<<<<<<< Updated upstream
	height: 200p;
=======
	height: 200px
>>>>>>> Stashed changes
}
.maindiv{
	border: 1px solid #000000; 
	width:500px;
}

a{
	color:blue;
}